{% extends "base.html" %}

{% block content %}
    <h1>Database Information</h1>
    <strong>ID:</strong> {{ database.id }} <br>
    <strong>Url:</strong> {{ database.url }} <br>
    <strong>Name:</strong> {{ database.name }} <br>
    <ul>
        {% for par in database.pares %}
        <li>
            {% set pair = par.split(":") %}
            <strong>Clave:</strong> {{ pair[0] }} <br>
            <strong>Valor:</strong> {{ pair[1] }}
        </li>
        {% endfor %}
    </ul>
    <div class="box">
        <form method="post" action="/databaseInfo?db_id={{ db_id }}">
            {{ form1.hidden_tag() }}
            <input type="hidden" name="_method" value="PUT">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="key" placeholder="Key">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="value" placeholder="Value">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth" type="submit">Add</button>
        </form>
        {% if error1 %}
        <p class="error"><strong>Error:</strong> {{ error1 }}</p>
        {% endif %}
    </div>
    <div class="box">
        <form method="post" action="/databaseInfo?db_id={{ db_id }}">
            {{ form2.hidden_tag() }}
            <input type="hidden" name="_method" value="DELETE">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="key" placeholder="Key">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" type="submit">Remove</button>
        </form>
        {% if error2 %}
        <p class="error"><strong>Error:</strong> {{ error2 }}</p>
        {% endif %}
    </div>
{% endblock %}
